
<div class="row" id="search">
  <form action="/search" method="GET">
    <div class="col s6 offset-s2">
      <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input type="text" name="term" placeholder="Type a word..."
        {{#if searchTerm}}value="{{searchTerm}}">{{else}}autofocus>{{/if}}
      </div>
    </div>
    <div class="col s2">
      <div class="input-field left-align">
        <button class="btn teal lighten-2 waves-effect waves-light" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>
