<div id="allWords-sidebar">
  <ul class="collection">
    <li class="collection-header center"><h4>Words</h4></li>
    {{#each allWords}}
    <li class="collection-item"><a href="/search?term={{word}}">{{word}}</a></li>
    {{/each}}
  </ul>
</div>
