<script>
  $(document).ready(function(){
    $('.pushpin').pushpin();
  });

</script>

<nav id="navbar" class="pushpin">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">The Social Thesaurus</a>
    {{!-- <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul> --}}
  </div>
</nav>

<main style="position: relative;">
{{!-- Main row to contain all content --}}
<div class="row" id="main-row">
  {{!-- Left column for sidebar to contain all words --}}
  <div class="col s3 brown lighten-3" id="sidebar-column">
    {{> sidebar}}
  </div>

  {{!-- Main column with search, results, featured items --}}
  <div class="col s9 teal lighten-2 container" id="main-column">
    {{!-- Row with search bar --}}
    <div class="section white">
      {{> search}}
    </div>

    {{!-- Row with results returned from search --}}
    {{#if results}}
    <div class="divider"></div>
    <div class="section">
      {{> resultsPage}}
    </div>
    {{/if}}

    {{#if noResults}}
      <div class="divider"></div>
      <div class="section white">
        <h5 class="center-align">Your search did not give any results!</h5>
        <h5 class="center-align">Add to word list?</h5>
        <div class="row">
        <form action="/new" method="POST">
        <div class="col s4 offset-s3">
          <div class="input-field">
            <div class="container">
              <input type="text" name="new" placeholder="Add word" class="valign-wrapper"
              {{#if noResults}}value="{{searchTerm}}" autofocus{{/if}}>
            </div>
          </div>
          </div>
          <div class="col s2">
            <div class="input-field">
            <button id"new-word-button" class="btn-floating teal lighten-2 waves-effect waves-light {{#if noResults}}pulse{{/if}}" type="submit" autofocus><i class="material-icons">add</i></button>
          </div>
        </div>
        </form>
      </div>
      </div>
    {{/if}}

    <div class="divider"></div>
    <div class="section" style="text-align: center;">
      <h6>A project by Lily Korir and Will Smith</h6>
    </div>

  </div>
</div>
</main>
