
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">The Social Thesaurus</a>
    {{!-- <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul> --}}
  </div>
</nav>

<main>
{{!-- Main row to contain all content --}}
<div class="row" id="main-row" style="height: 100%;">
  {{!-- Left column for sidebar to contain all words --}}
  <div class="col s3 brown lighten-3" id="sidebar-column">
    {{> sidebar}}
  </div>

  {{!-- Main column with search, results, featured items --}}
  <div class="col s9 teal lighten-2 container" id="main-column">
    {{!-- Row with search bar --}}
    <div class="section white">
      {{> search}}
    </div>

    {{!-- Row with results returned from search --}}
    {{#if results}}
    <div class="divider"></div>
    <div class="section">
      {{> resultsPage}}
    </div>
    {{/if}}

    {{#if noResults}}
      <div class="divider"></div>
      <div class="section white">
        <h4 class="center-align">Your search did not give any results!</h4>
        <h4>Add "{{searchTerm}}" to word list?</h4><span><form action="/new" method="POST">
          <input type="hidden" name="new" value="{{searchTerm}}">
          <button type="submit">Add</button>
        </form></span>
      </div>
    {{/if}}

  </div>
</div>
</main>
