body {
  height: 100%;
  background-color: #4db6ac !important;
}

#navbar {
  /* position: fixed; */
}


#main-row {
  height: 100%;
}

#sidebar-column {
  height: 100%;
}

#main-column {
  height: 100%;
}

main {
  height: 100%;
}

#allWords-sidebar {
  overflow-y: scroll;
  min-width: 200px;
  height: 50%;
}
